.HomeCardLayout {
  display: grid;
  gap: 1rem;
  margin: 0.5rem;
  height: 100%;
  grid-template-rows: auto  1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "title title"
  "left right";
  color: white;
}

.HomeCardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray3);
  padding: 0.75rem;
  border-radius: 0.2rem;
  grid-area: title;
}

.HomeCardTitle{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.HomeCardIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}