.CreatorButtons {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  max-height: 50%; 
  background-color: var(--gray3); 
  border-radius: 0.2rem;
  margin-top: 1rem; 
  padding-bottom: 1rem;
}